<div class="col-md-11" style="margin:auto">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="margin: auto;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/banner-1.webp" class="d-block w-100 rounded" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/banner-2.webp" class="d-block w-100 rounded" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/banner-3.webp" class="d-block w-100 rounded" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
  <div class="row row1 justify-content-center align-items-center">
    <button class="btn bg-bskt3 col-lg-1 " routerLink="/home/categories/fruits"><p class="text1">Fruits & Veg</p></button>
    <button class="btn bg-bskt2 col-lg-1 " routerLink="/home/categories/snacks"><p class="text1">Snacks</p></button>
    
    <button class="btn bg-bskt3 col-lg-1 " routerLink="/home/categories/Beverages" ><p class="text1">Beverages</p></button>
    <button class="btn bg-bskt3 col-lg-1 " routerLink="/home/categories/bakery" ><p class="text1">Bakery</p></button>
    <button class="btn bg-bskt3 bg-bskt-4 col-lg-1 "><p class="text1" routerLink="/home/categories/oil" >Household</p></button>
  </div>
  